<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="baseCssAndJs">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery.ui.1.10.0.ie.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui-1.10.0.custom.css}"/>
    <link rel="stylesheet" th:href="@{/css/zTreeStyle/zTreeStyle.css}"/>
    <link rel="stylesheet" th:href="@{/themes/metro/easyui.css}"/>


    <!-- JavaScript-->
    <script th:src="@{/js/jquery-3.2.1.min.js}" ></script>
    <script th:src="@{/js/bootstrap.min.js}"  ></script>
    <script th:src="@{/js/jquery-ui-1.9.2.custom.min.js}" />
    <script th:src="@{/js/jquery.ztree.all.min.js}"/>
    <script th:src="@{/js/jquery.easyui.min.js}"/>


    <title>橘客</title>
</head>
<body>
</body>
</html>