<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cmn-Hans">
<head th:include="fragments/h5_header::baseCss">
</head>
<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="sidemenu" style="width:300px;">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong
                                    class="font-bold" th:text="admin"></strong>
                             </span></span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="#" class="menu-link" menu-url="/profile">个人资料</a></li>
                            <li class="divider"></li>
                            <li><a th:href="@{/logout}">退出</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        亮
                    </div>
                </li>
				        <div id ="tree">
            </ul>
        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg dashbard-1" style="margin-left:300px;">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <span class="m-r-sm text-muted welcome-message"></span>
                    </li>
                    <li>
                        <a th:href="@{/logout}">
                            <i class="fa fa-sign-out"></i> 退出
                        </a>
                    </li>
                </ul>

            </nav>
        </div>

        <!-- Bright will load page into here -->
        <div class="row wrapper wrapper-content animated fadeInRight">
        </div>
        <!-- -->

        <div class="footer">
            <div class="pull-right">
                <strong></strong>
            </div>
            <div>
                <p class="text-center">
                    Copyright @ 2018 优联科技版权所有.
                    <!--Copyright 2018武汉优联科技-版权所有-->
                </p >
            </div>
        </div>
    </div>
</div>

</div>
<!-- /#wrapper -->
<th:block th:include="fragments/h5_header::baseJs"/>
<script th:src="@{/js/pages/index.js}"></script>
</body>

</html>
